body, html {
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Oxygen', sans-serif;
}

.main {
    margin-top: 70px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
}

.login-button{
    margin-top: 5px;
}

